{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="row">
                 <div class="col-sm-10 mx-auto my-3">
                <p class="fs-3 ">Principle<b class="text-color2"> Message</b></p>
                    <hr class="w-25 ">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{% static 'images/sir2.jpg' %}" class="img-thumbnail" >
                        </div>
                        <div class="col-sm-8">
                            <b>Principle Message :</b><br> <br>
                            Dear Students and Parents, <br><br>
                            Welcome to <b class="text-color1"> Government Polytechnic Madhogarh </b>, where we believe education is not just about earning degrees, but about building character, values, and confidence to face real-life challenges.
                             Our mission is to provide a holistic learning environment that nurtures academic excellence, creativity, and personal growth. <br><br>
                             To students – dream big, stay disciplined, and never stop learning. Your success lies in the values you carry and the difference you make in the world. <br><br>
                             To parents – thank you for your trust and support. Together, we aim to shape a bright and meaningful future for your child. <br><br>
                             Let us grow, learn, and achieve together. <br>
                             Warm regards, <br>
                            <b> Shri OP yadav </b> <br>
                             Principal,  Government Polytechnic Madhogarh
                            

                        </div>
                    </div>
                 </div>
             </div>

{% endblock %}